{
    "product_id": "pr-xxxxxxxx",
    "device_id": "de-xxxxxxxx",
    "agent_binary": "/absolute/path/to/nabtoshell-agent",
    "cli_binary": "/absolute/path/to/nabtoshell",
    "agent_home_dir": "/tmp/nabtoshell-test-agent",
    "client_home_dir": "/tmp/nabtoshell-test-client"
}
